// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import 'bootstrap';

.fluid {
  @include clearfix;
  .column {
    @include clearfix;
    min-height: 100px; float: left; 
  }
  .post {
    padding: 10px;
    background-color: #E5E5E5; margin-bottom: 10px;
    transition: all 4s;
    -moz-transition: all 4s;
    -webkit-transition: all 4s;
    -o-transition: all 4s;
    box-shadow: 1px 1px 1px 1px #CCC;
    .caption {
      text-align: center; margin: 0;
    }
  }
}
