<footer class="footer">
  <small>
    by Mike Munroe &amp; Mike Comstock
  </small>
  <nav>
    <ul>
      <li><%= link_to "Github", 'https://github.com/mikecomstock/focoto' %></li>
    </ul>
  </nav>
</footer>
